/// AppleCare Sheet SASS
/// 2023 Ryan D. Knutson
/// I tried to lay out this page in logical order
/// to change the font sizing, just edit 'font-size' in each
/// you may need to mess with margins as well

// make page 11in wide, for printing
.container 
  max-width: 11in

// top of page header
.header
  // top and bottom margins, feel free to change!
  margin-top: 3mm
  margin-bottom: 4mm
  h1
    font-size: 1.2em
    font-weight: 500
  h3
    font-size: 1em
  h5
    font-size: 0.8em
    margin-bottom: 0

// main content
.pageSection
  .pics
    // product image
    img
      max-height: 1.8cm
      display: block
      margin: 0 auto
  .deviceTitle
    // name of device
    margin-top: 4px
    h4
      font-size: 11.85pt
      text-align: center
      margin-bottom: 0
  .colors
    td
      padding: 0 0 0 4px
    .colorDot
      font-size: 18pt
      // add outline around dots
      -webkit-text-stroke: 1px black
      //text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000
    .colorName
      font-size: 8.5pt
  .features
    li
      font-size: 8.6pt
  .pricing
    .configBlock
      margin-bottom: 2mm
      > .configName
        font-size: 9pt
        font-weight: 600
        margin-bottom: 1mm
      > .configPrice
        font-size: 8.6pt
        margin-bottom: 0
      // if tier has multiple storage values
      &:has(> :nth-child(3))
        > :nth-child(2)
          margin-top: 0 !important
        .configPrice
          margin-top: 1mm
  .acplus
    text-align: center
    .acplusLength
      font-size: 8pt
      margin-bottom: 0
    .acplusPrice
      font-size: 8pt
      margin-bottom: 0

.disclaimer
  font-size: 6pt
  margin-bottom: 0
  text-align: center
  color: #BEBEBE

.configComment
  font-size: 10pt
  text-align: center
