mixin pics(product)
  .col
    - var path = './pics/' + product.picName
    img.productImg(src=path)

mixin deviceTitle(product)
  .col
    h4= product.name

mixin colors(product)
  .col
    table
      //- if there are only two colors, stack them
      if product.colors.length == 2
        each color in product.colorsChunked[0]
          tr
            td
              span.colorDot(style=`color: #${color.hex} !important`) &#x23FA;
            td.colorName= color.color
      else
        each colorChunk in product.colorsChunked
          tr
            each color in colorChunk
              td
                span.colorDot(style=`color: #${color.hex} !important`) &#x23FA;
              td.colorName= color.color

mixin features(product)
  .col
    ul
      each feature in product.features
        li= feature

mixin config(product, index)
  - var config = product.configuration[index]
  .col.configBlock
    if config
      if config.comment
        p.configComment= config.comment
      if config.name
        p.configName= config.name
      if config.tiers
        each tier in config.tiers
          p.configPrice= `• ${tier.storage} - $${tier.price}`
      else
        if !config.comment
          p.configPrice= `• ${config.storage} - $${config.price}`

mixin applecare(product)
  .col
    p.acplusLength #{product.applecare.length_yr}yr AppleCare+®
      - var acprice = product.applecare.price
      if twentyOff.macs
        p.acplusPrice= '$' + String(acprice) + ' – $20 = $' + String(acprice-20)
      else
        p.acplusPrice= '$' + String(acprice)


doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    // TODO can we remove below?
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
    link(href='./css/fonts.css' rel='stylesheet')
    link(href='./css/style.css' rel='stylesheet')
    title Apple® Education Pricing | MSU Bookstore
  body
    //- header
    .container.header
      // h1.text-center Apple® Education Pricing at your Missouri State University Bookstore
      h1.text-center Low education pricing on Apple® products at your Missouri State University Bookstore
      h3.text-center visit shop.missouristatebookstore.com for complete selection and online ordering
      h5.text-center custom-spec devices and other Apple® products available on request

    //- container holding all macs
    .container.macs.pageSection

      //- product picture row
      .row.pics
        each mac in macs
          +pics(mac)

      //- device title row
      .row.deviceTitle
        each mac in macs
          +deviceTitle(mac)

      //- product colors row
      .row.colors
        each mac in macs
          +colors(mac)

      //- features row
      .row.features
        each mac in macs
          +features(mac)

      //- pricing row
      .row.pricing
        each i in [0,1]
          .row
            each mac in macs
              +config(mac, i)

      //- AppleCare+ row
      .row.acplus
        each mac in macs
          +applecare(mac)


    p.disclaimer TM and © 2024 Apple Inc. All rights reserved. Prices subject to change. ¹Space Black only available in M3 Pro/Max models.

    div(style="page-break-after: always;")
    //- iPad section
            
    .container.header(style="margin-bottom: 5mm")
      h1.text-center Low education pricing on Apple® products at your Missouri State University Bookstore
      h3.text-center custom-spec devices and other Apple® products available on request

    //- container holding all ipads
    .container.ipads.pageSection

      //- product picture row
      .row.pics
        each ipad in ipads
          +pics(ipad)

      //- device title row
      .row.deviceTitle
        each ipad in ipads
          +deviceTitle(ipad)

      //- product colors row
      .row.colors
        each ipad in ipads
          +colors(ipad)

      //- features row
      .row.features
        each ipad in ipads
          +features(ipad)

      //- pricing row
      .row.pricing
        each i in [0,1]
          .row
            each ipad in ipads
              +config(ipad, i)

      //- AppleCare+ row
      .row.acplus
        each ipad in ipads
          +applecare(ipad)

    p.disclaimer TM and © 2024 Apple Inc. All rights reserved. Prices subject to change.


    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')

