@font-face {
  font-family: 'SanFrancisco';
  src: url('font/SanFranciscoFont/SanFranciscoText-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('font/SanFranciscoFont/SanFranciscoText-RegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-Bold.otf');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-HeavyItalic.otf');
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SanFrancisco';
  src: url('/font/SanFranciscoFont/SanFranciscoText-SemiboldItalic.otf');
  font-weight: 600;
  font-style: italic;
}

